---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

## Journal Articles

<div class="pub">

<strong>Compute SNDR-Boosted 22-nm MRAM-Based In-Memory Computing Macro Using Statistical Error Compensation</strong>  
Saion Roy,  Han-Mo Ou,  Mostafa Ahmed,  Peter Deaville,  Bonan Zhang,  Naveen Verma,  Pavan Hanumolu,  Naresh Shanbhag
<i>IEEE Journal of Solid-State Circuits</i>, 2025  
<a class="pub-button" href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=10642976">PDF</a>

## Conference Papers

<div class="pub">

<strong>High Throughput BCH Decoder Architecture</strong>  
H. Ou, A. Author, B. Author  
<i>IEEE Transactions on VLSI Systems</i>, 2025  

<a class="pub-button" href="/files/bch_decoder.pdf">PDF</a>

</div>

<div class="pub">

<strong>High Throughput BCH Decoder Architecture</strong>  
H. Ou, A. Author, B. Author  
<i>IEEE Transactions on VLSI Systems</i>, 2025  

<a class="pub-button" href="/files/bch_decoder.pdf">PDF</a>

</div>

<div class="pub">

<strong>High Throughput BCH Decoder Architecture</strong>  
H. Ou, A. Author, B. Author  
<i>IEEE Transactions on VLSI Systems</i>, 2025  

<a class="pub-button" href="/files/bch_decoder.pdf">PDF</a>

</div>

<div class="pub">

<strong>High Throughput BCH Decoder Architecture</strong>  
H. Ou, A. Author, B. Author  
<i>IEEE Transactions on VLSI Systems</i>, 2025  

<a class="pub-button" href="/files/bch_decoder.pdf">PDF</a>

</div>

<div class="pub">

<strong>High Throughput BCH Decoder Architecture</strong>  
H. Ou, A. Author, B. Author  
<i>IEEE Transactions on VLSI Systems</i>, 2025  

<a class="pub-button" href="/files/bch_decoder.pdf">PDF</a>

</div>

<div class="pub">

<strong>High Throughput BCH Decoder Architecture</strong>  
H. Ou, A. Author, B. Author  
<i>IEEE Transactions on VLSI Systems</i>, 2025  

<a class="pub-button" href="/files/bch_decoder.pdf">PDF</a>

</div>